BLE/BLE.xcodeproj/project.xcworkspace/xcshareddata/BLE.xccheckout
BLE/BLE.xcodeproj/project.xcworkspace/xcuserdata/htsai.xcuserdatad/UserInterfaceState.xcuserstate
BLEPeripheral/BLEPeripheral.xcodeproj/project.xcworkspace/xcshareddata/BLEPeripheral.xccheckout
BLEPeripheral/BLEPeripheral.xcodeproj/project.xcworkspace/xcuserdata/htsai.xcuserdatad/UserInterfaceState.xcuserstate
